$color-success: #67C23A;
$color-error: #F56C6C;
$color-orange: #f97d1c;
$color-white: #ffffff;
$color-btn: #2277b7;
$color-info: #33c0b3;
$color-text1: #00FFFF;
$color-blue:#3FA9F5;
$color-danger: #FBB03B;
$color-green: #009245