// 地图放在中间的
#container {
    width: 100%;
    // height: 50%;
    height: 100%;
    border-radius: 100px;
    margin-top: 10%;
}

.amap-marker-content {
    .tipMarker {
        color: #555;
        background-color: rgba(255, 254, 239, 0.8);
        border: 1px solid #7e7e7e;
        padding: 2px 6px;
        font-size: 12px;
        white-space: nowrap;
        display: inline-block;

        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            margin: auto;
            width: 0;
            height: 0;
            border: solid transparent;
            border-width: 5px 5px;
        }

        &.top {
            transform: translate(-50%, -110%);

            &:before,
            &:after {
                bottom: -9px;
                left: 0;
                right: 0;
                border-top-color: rgba(255, 254, 239, 0.8);
            }

            &:before {
                bottom: -10px;
                border-top-color: #7e7e7e;
            }
        }
    }
}

.amap-logo,
.amap-copyright {
    display: none !important;
    visibility: inherit !important;
}

// .amap-layer{
//   height: 50vh;
// }